<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<!--<div th:fragment="modal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<div th:fragment="modal" class=" fade" id="exampleModal">
    <div class="modal_bg"></div>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close closeCus" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formForEdit">
                    <div class="form-group">
                        <label for="d_id">Id</label>
                        <input type="text" class="form-control" id="d_id" name="id">
                        <label for="d_name">First Name</label>
                        <input type="text" class="form-control" id="d_name" name="firstName">
                        <label for="d_last_name">Last Name</label>
                        <input type="text" class="form-control" id="d_last_name" name="lastName">
                        <label for="d_age">Age</label>
                        <input type="number" class="form-control" id="d_age" name="age">
                        <label for="d_email">Email</label>
                        <input type="email" class="form-control" id="d_email" name="email" >
                        <label for="d_password" class="d_password">Password</label>
                        <input type="password" class="form-control" id="d_password" name="password" >
                    </div>
                    <div class="form-group">
                        <label for="d_roles">Role</label>
                        <select multiple class="form-control" id="d_roles" name="n_roles">
                            <!--                        <option>admin</option>-->
                            <!--                        <option>user</option>-->
                        </select>
                        <select multiple class="form-control" id="e_roles" name="e_roles">
                                                    <option>admin</option>
                                                    <option>user</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closeCus" data-dismiss="modal">Close</button>
                <button class="btn btn-primary closeCus delete_u" onclick='deleteU(this)'>Delete</button>
                <button class="btn btn-primary closeCus edit_u" onclick='editU(this)'>Edit</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>